<configuration>
    <appender
        name="STDOUT"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                /data/logs/access-%d{yyyy-MM-dd}.log.%i
            </FileNamePattern>
            <MaxHistory>180</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="exLogger" level="error">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="access" level="info">
        <appender-ref ref="FILE-ACCESS" />
    </logger>
</configuration>

